<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
	<configuration>
	<settings>
			<!-- 打印sql语句 -->
        	<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.hbxy.util.PageData" alias="pd"/>
		<typeAlias type="com.hbxy.bean.Page" alias="Page"/>
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.hbxy.plugin.PagePlugin">
			<property name="dialect" value="mysql"/>
			<property name="pageSqlId" value=".*listPage.*"/>
		</plugin>
	</plugins>
	
</configuration>