<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CheckOutMapper">
	
	<sql id="selectParams">
		outCS_id outId, roomType_id roomTypeId, outcs_price outPrice
	</sql>
	
	<select id="findById" parameterType="pd" resultType="pd">
		select <include refid="selectParams"></include>
		from checkout_cs 
		where outCS_id = #{outCSId}
	</select>
	
	<select id="findByRoomTypeId" parameterType="pd" resultType="pd">
		select <include refid="selectParams"></include>
		from checkout_cs
		where roomType_id = #{roomTypeId}
	</select>
</mapper>